.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  height: 50px;

  .container {
    display: flex;
    gap: 12px;

    .link {
      &.active {
        color: #e44966;
      }
    }
  }
}
